// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-loader {
  display: inline-block;
  
  &.spinner {
    background-image: image-url('ajax.gif');
    height: 32px;
    width: 32px;
  }
}